<html lang="en">
<head>
<meta charset="utf-8">

<title>AWS Accounts</title>

<link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<script>
window.rolemapping = {
  "AssumePower": "power",
  "AssumeAdmin": "admin",
  "AssumeRead": "read",
  "AssumePowerLocal": "powerlocal",
  "AssumeAdminLocal": "adminlocal",
  "AssumeReadLocal": "readlocal",
  "AssumeS3FullAndReadOnlyLocal": "s3_full_and_ro_local"
}
window.users = {
  "aws_users":
{{ aws_users | to_nice_json }}
}

window.bastionAccountId = "{{ bastion_account.account_id }}"

window.accounts = {
  "subaccounts":
{{subaccounts | to_nice_json }}
}
</script>

<script>
  var vars
  var selectedUserName
  var selectedRole
  var selectedRegion

  var crossAccountLinkList = new Set()
  var assumeRoleList = new Set()
  var awsConfigRoleList = new Set()

  document.write('<h2>URL for the Bastion AWS Console</h2>')
  document.write('<a target="_blank" href="https://{{ organization.name }}-bastion.signin.aws.amazon.com/console">Bastion Account Console</a><br/>')

  if ( location.href.includes('?') ) {
    vars = location.href.split('?')[1].split('&').map(str => str.split('=')).reduce(function(prev, v) {return Object.assign(prev, {[v[0]]: v[1]})}, {})
    selectedUserName = vars.user
    selectedRole = vars.role
    selectedRegion = vars.region || 'eu-central-1'

    if ( ! selectedUserName ) {
      document.write('<b>Add query parameter user=yourawsuser to the URL<b>')
      selectedUser = 'unknown'
    }
  } else {
    document.write('<b>Add query parameter user=yourawsuser to the URL<b>')
    selectedUserName = 'unknown'
  }

  var selectedUser = users.aws_users.find(
    function(user) {
      return user.name === selectedUserName
    }
  )

  if ( selectedRole == 'admin') {
      accounts.subaccounts.forEach(
      function (value) {
          var account = value.name
          var account_id = value.account_id
          var remoterole = selectedRole

          //console.log(value)
          //console.log(remoterole)

          crossAccountLinkList.add('<a href="https://signin.aws.amazon.com/switchrole?account=' + account_id + '&roleName=' + remoterole + '&displayName=' + account + '_' + remoterole + '">' + account + ' ' + remoterole + '</a><br>')
          assumeRoleList.add('&nbsp;&nbsp;&nbsp;&nbsp;"' + account + '-' + remoterole + '": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_profile": "{{ organization.name }}-bastion",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_account": "' + account_id + '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_mfa_arn": "arn:aws:iam::' + bastionAccountId + ':mfa/' + selectedUserName + '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_role": "' + remoterole + '"<br>&nbsp;&nbsp;&nbsp;&nbsp;}')
          awsConfigRoleList.add('[profile ' + account + ']<br>source_profile = {{ organization.name }}-bastion<br>role_arn = arn:aws:iam::' + account_id + ':role/' + remoterole + '<br>mfa_serial = arn:aws:iam::' + bastionAccountId + ':mfa/' + selectedUserName + '<br>region = ' + selectedRegion + '<br><br>')
      })
  } else {
      var groups = selectedUser.groups
      var parsedGroups = groups.map(
          function (groupString) {
              var split = groupString.split('-')
              return {role: split[0], account: split.slice(1).join('-')}
          }
      )

      var matchingAccounts = accounts.subaccounts.filter(
          function (account) {
              return parsedGroups.some(
                  function (group) {
                      return account.name.indexOf(group.account) !== -1
                  }
              )
          }
      )

      var string = JSON.stringify(matchingAccounts)
      console.log(string)

      parsedGroups.forEach(
          function (value) {
              var role = value.role
              var account = value.account
              var remoterole = rolemapping[role]

              //console.log(value)
              //console.log(remoterole)

              matchingAccounts.forEach(
                  function (t) {
                      crossAccountLinkList.add(
                          '<a href="https://signin.aws.amazon.com/switchrole?account=' +
                          t.account_id + '&roleName=' +
                          remoterole + '&displayName=' +
                          t.name + '_' + remoterole + '">' +
                          t.name + ' ' + remoterole + '</a><br>'
                      )
                      assumeRoleList.add(
                          '&nbsp;&nbsp;&nbsp;&nbsp;"' +
                          t.name + '-' + remoterole +
                          '": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_profile": "{{ organization.name }}-bastion",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_account": "' +
                          t.account_id +
                          '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_mfa_arn": "arn:aws:iam::' +
                          bastionAccountId + ':mfa/' + selectedUser.name +
                          '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_role": "' +
                          remoterole + '"<br>&nbsp;&nbsp;&nbsp;&nbsp;}'
                      )
                      awsConfigRoleList.add(
                          '[profile ' +
                          t.name + '-' +
                          remoterole +
                          ']<br>source_profile = {{ organization.name }}-bastion<br>role_arn = arn:aws:iam::' +
                          t.account_id + ':role/' + remoterole +
                          '<br>mfa_serial = arn:aws:iam::' +
                          bastionAccountId + ':mfa/' + selectedUser.name +
                          '<br>region = ' + selectedRegion + '<br><br>'
                      )
                  }
              )

          }
      )
  }

  document.write('<h2>AWS Cross Account links for ' + vars.user + '</h2><ul>')
  crossAccountLinkList.forEach(
      function (t) {
          document.write('<li>' + t + '</li>')
      }
  )
  document.write('</ul><br>')

  document.write('<h2>aws-sts-assumerole config file for ' + vars.user + '</h2><br>')
  document.write('<code>{<br>&nbsp;&nbsp;"assume_roles": {<br>')
  let assumeRoleArray = Array.from(assumeRoleList)
  assumeRoleArray.forEach(
      function (t, index, array) {
          if (index === array.length - 1)
              document.write(t + '<br>')
          else {
              document.write(t + ',<br>')
          }
      }
  )
  document.write('&nbsp;&nbsp;}<br>}<br></code>')

  document.write('<h2>~/.aws/config for ' + vars.user + '</h2><br><code>')
  let awsConfigRoleArray = Array.from(awsConfigRoleList)
  awsConfigRoleArray.forEach(
      function (t, index, array) {
          document.write(t)
      })
  document.write('</code>')

</script>
</body>
</html>
