<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>{{ org }} AWS Cross Account Links</title>
  <meta charset = "UTF-8" />
  <style>
    body {
      font-family: sans-serif;
    }
    h2 {
      border: azure;
      border-width: 2;
      border-color: black;
      border-style: dotted;
      background-color: orange;
    }
  </style>
</head>
<body>
  <h2>URL for the Bastion AWS Console</h2>
    <a target="_blank" href="{{ bastion_account.console_url | default('Not configured in organizaton inventory') }}">Bastion Account Console</a><br/>

  <h2>Links from bastion account to {{ org }} subaccounts</h2>

  For these links to work, you should be logged in to the bastion account <em>and</em> you have to belong to the group
  on the <em>Bastion</em> that allows you to assume the chosen role on the target or trusting account.

  If not sure, or if you think you require access to a certain role on a certain AWS sub-account, contact
  your AWS Administrator.

{% for account in subaccounts %}
  <h3>Roles for account {{ account.name }}</h3>
  <ul>
{%   for role in aws_roles %}
    <li><a target="_blank" href="https://signin.aws.amazon.com/switchrole?account={{ account.account_id }}&roleName={{ role.name }}&displayName={{ account.name }}_{{ role.name }}">Assume role {{ role.name }} on account {{ account.name }}</a></li>
{%   endfor %}
  </ul>
{% endfor %}

  <h2>Links from org account to {{ org }} subaccounts</h2>

  For these links to work, you should be logged in to the organization account <em>and</em> you have to belong to the group
  on the <em>Bastion</em> that allows you to assume the chosen role on the target or trusting account.

  Very few people should be using this kind of cross account links, please check the bastion section.

  <ul>
    <li><a target="_blank" href="https://signin.aws.amazon.com/switchrole?account={{ bastion_account.account_id }}&roleName=OrganizationAccountAccessRole&displayName={{ bastion_account.name }}_OrganizationAccountAccessRole">Assume role OrganizationAccountAccessRole on account {{ bastion_account.name }}</a></li>
{% for account in subaccounts %}
    <li><a target="_blank" href="https://signin.aws.amazon.com/switchrole?account={{ account.account_id }}&roleName=OrganizationAccountAccessRole&displayName={{ account.name }}_OrganizationAccountAccessRole">Assume role OrganizationAccountAccessRole on account {{ account.name }}</a></li>
{% endfor %}
  </ul>
