changed: [localhost] => (item=[{'name': 'AssumePowerLocal', 'role': 'powerlocal'}, 'hermes'])
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "1",
            "Effect": "Allow",
            "Action": [
                "sts:AssumeRole"
            ],
            "Resource": [
{% for account in subaccounts %}
{%   if account.name.startswith(item[1] + '.') or account.name.startswith(item[1] + '-') or account.name.startswith(organization.name + '.' + item[1] + '.') or account.name.startswith(organization.name + '.' + item[1] + '-') %}
                "arn:aws:iam::{{ account.account_id }}:role/{{ item[0]['role'] }}"{% if not loop.last %},{% endif %}
{%   endif %}
{% endfor %}
            ],
            "Condition": {
                "Bool": {
                    "aws:MultiFactorAuthPresent": "true",
                    "aws:SecureTransport": "true"
                },
                "NumericLessThan": {
                    "aws:MultiFactorAuthAge": "43200"
                }
            }
        },
        {
            "Sid": "2",
            "Effect": "Allow",
            "Action": [
                "sts:GetSessionToken"
            ],
            "Resource": [
{% for account in subaccounts %}
{%   if account.name.startswith(item[1] + '.') or account.name.startswith(item[1] + '-') or account.name.startswith(organization.name + '.' + item[1] + '.') or account.name.startswith(organization.name + '.' + item[1] + '-') %}
                "arn:aws:iam::{{ account.account_id }}:role/{{ item[0]['role'] }}"{% if not loop.last %},{% endif %}
{%   endif %}
{% endfor %}
            ]
        }
    ]
}
