{% set account_list = [] %}
{% if user_data is defined %}
{%   set accounts_valid_from = user_data.accounts_valid.from | default('2010-01-01T00:00:00Z') %}
{%   set accounts_valid_until = user_data.accounts_valid.until | default('2099-12-31T23:59:59Z') %}
{%   set accounts = user_data.accounts | default([]) %}
{% else %}
{%   if item is defined %}
{%     set accounts_valid_from = item.accounts_valid.from | default('2010-01-01T00:00:00Z') %}
{%     set accounts_valid_until = item.accounts_valid.until | default('2099-12-31T23:59:59Z') %}
{%     set accounts = item.accounts | default([]) %}
{%   endif %}
{% endif %}

{% if current_time <  accounts_valid_until %}
{%   if current_time > accounts_valid_from %}
{%     for account in accounts %}
{%       for subaccount in subaccounts | default([]) -%}
{%         if subaccount.name | regex_search(account.name) %}{{ account_list.append("arn:aws:iam::" + subaccount.account_id + ":role/" + account.role) }}{% endif %}
{%-      endfor %}
{%     endfor %}
{%   endif %}
{% endif %}
{% set account_list_unique = account_list | unique %}
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "1",
      "Effect": "Allow",
      "Action": [
        "sts:AssumeRole"
      ],
      "Resource": [
{% for account in account_list_unique | default([]) %}
        "{{ account }}",
{% endfor %}
        "arn:aws:iam::000000000000:role/dummyrole"
      ],
      "Condition": {
        "Bool": {
          "aws:MultiFactorAuthPresent": "true",
          "aws:SecureTransport": "true"
        },
        "NumericLessThan": {
          "aws:MultiFactorAuthAge": "43200"
        },
        "DateGreaterThan": { "aws:CurrentTime": "{{ accounts_valid_from }}" },
        "DateLessThan": { "aws:CurrentTime": "{{ accounts_valid_until }}" }
      }
    },
    {
      "Sid": "2",
      "Effect": "Allow",
      "Action": [
        "sts:GetSessionToken"
      ],
      "Resource": [ "*" ]
    }
  ]
}