{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:*",
        "cloudfront:*",
        "route53:*"
      ],
      "Resource": "*"
    },
    {
      "Effect": "Allow",
      "NotAction": [
        "iam:*",
        "organizations:*",
        "s3:*",
        "cloudfront:*",
        "route53:*"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": [
{% if aws_local_regions is not defined %}
            "eu-central-1",
            "eu-west-3"
{% else %}
{%   for region in aws_local_regions %}
            "{{ region }}"{% if not loop.last %},{% endif %}
{%   endfor %}
{% endif %}
          ]
        }
      },
    },
    {
      "Effect": "Allow",
      "Action": [
        "iam:CreateServiceLinkedRole",
        "iam:DeleteServiceLinkedRole",
        "iam:ListRoles",
        "organizations:DescribeOrganization"
      ],
      "Resource": "*"
    }
  ]
}