{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Deny",
            "Action": [
                "ssm:Get*",
                "ssm:Delete*",
                "ssm:Describe*",
                "ssm:List*",
                "secretsmanager:*",
                "cloudformation:DescribeStacks"
            ],
            "Resource": "*"
        },
        {
            "Effect": "Deny",
            "Action": "*",
            "Resource": "*",
            "Condition": {
                "StringNotEquals": {
                    "aws:RequestedRegion": [
{% if aws_local_regions is not defined %}
                        "eu-central-1",
                        "eu-west-3"
{% else %}
{%   for region in aws_local_regions %}
                        "{{ region }}"{% if not loop.last %},{% endif %}
{%   endfor %}
{% endif %}
                    ]
                }
            }
        }
    ]
}