{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Deny",
            "Action": [
                "cloudformation:DescribeStacks",
                "ssm:Get*",
                "ssm:Put*",
                "ssm:Modify*",
                "ssm:Create*",
                "ssm:Cancel*",
                "ssm:Stop*",
                "ssm:Start*",
                "ssm:Delete*",
                "ssm:Deregister*",
                "ssm:Send*",
                "ssm:Add*",
                "ssm:Remove*",
                "ssm:Update*",
                "ssm:Terminate*",
                "secretsmanager:GetR*",
                "secretsmanager:Tag*",
                "secretsmanager:Untag*",
                "secretsmanager:Cancel*",
                "secretsmanager:Create*",
                "secretsmanager:Delete*",
                "secretsmanager:Put*",
                "secretsmanager:Restore*",
                "secretsmanager:Rotate*",
                "secretsmanager:Replicate*",
                "secretsmanager:Remove*",
                "secretsmanager:Stop*",
                "secretsmanager:Update*",
                "secretsmanager:Validate*"
            ],
            "Resource": "*"
        },
        {
            "Effect": "Deny",
            "Action": "*",
            "Resource": "*",
            "Condition": {
                "StringNotEquals": {
                    "aws:RequestedRegion": [
{% if aws_local_regions is not defined %}
                        "eu-central-1",
                        "eu-west-3"
{% else %}
{%   for region in aws_local_regions %}
                        "{{ region }}"{% if not loop.last %},{% endif %}
{%   endfor %}
{% endif %}
                    ]
                }
            }
        }
    ]
}