{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Deny",
            "Action": [
                "cloudformation:DescribeStacks",
                "ssm:GetCalendar",
                "ssm:GetCalendarState",
                "ssm:GetCommandInvocation",
                "ssm:GetConnectionStatus",
                "ssm:GetDefaultPatchBaseline",
                "ssm:GetDeployablePatchSnapshotForInstance",
                "ssm:GetDocument",
                "ssm:GetInventory",
                "ssm:GetInventorySchema",
                "ssm:GetMaintenanceWindow",
                "ssm:GetMaintenanceWindowExecution",
                "ssm:GetMaintenanceWindowExecutionTask",
                "ssm:GetMaintenanceWindowExecutionTaskInvocation",
                "ssm:GetMaintenanceWindowTask",
                "ssm:GetManifest",
                "ssm:GetOpsItem",
                "ssm:GetOpsMetadata",
                "ssm:GetOpsSummary",
                "ssm:GetParameterHistory",
                "ssm:GetPatchBaseline",
                "ssm:GetPatchBaselineForPatchGroup",
                "ssm:GetServiceSetting",
                "ssm:Put*",
                "ssm:Modify*",
                "ssm:Create*",
                "ssm:Cancel*",
                "ssm:Stop*",
                "ssm:StartAssociationsOnce",
                "ssm:StartAutomationExecution",
                "ssm:StartChangeRequestExecution",
                "ssm:Delete*",
                "ssm:Deregister*",
                "ssm:Send*",
                "ssm:Add*",
                "ssm:Remove*",
                "ssm:Update*",
                "secretsmanager:GetR*",
                "secretsmanager:Tag*",
                "secretsmanager:Untag*",
                "secretsmanager:Cancel*",
                "secretsmanager:Create*",
                "secretsmanager:Delete*",
                "secretsmanager:Put*",
                "secretsmanager:Restore*",
                "secretsmanager:Rotate*",
                "secretsmanager:Replicate*",
                "secretsmanager:Remove*",
                "secretsmanager:Stop*",
                "secretsmanager:Update*",
                "secretsmanager:Validate*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowReadPermissionsOnSsmParametersIfTagIsPresentAndYes",
            "Effect": "Deny",
            "Action": [
                "ssm:GetParametersByPath",
                "ssm:GetParameters",
                "ssm:GetParameter"
            ],
            "Resource": "arn:aws:ssm:*:{{ item.item.account_id }}:parameter/*",
            "Condition": {
                "StringNotEquals": {
                    "ssm:resourceTag/allowReadForReadlocalRole": "yes"
                }
            }
        },
        {
            "Sid": "AllowReadPermissionsOnS3IfTagIsPresentAndYes",
            "Effect": "Allow",
            "Action": [
                "s3:GetBucketLocation",
                "s3:GetObjectAcl",
                "s3:ListBucket",
                "s3:GetObject",
                "s3:GetBucketTagging"
            ],
            "Resource": [
                "arn:aws:s3:::*",
                "arn:aws:s3:::*/*"
            ],
            "Condition": {
                "StringEquals": {
                    "s3:ExistingObjectTag/allowReadForReadlocalRole": "yes"
                }
            }
        },
        {
            "Effect": "Deny",
            "Action": "*",
            "Resource": "*",
            "Condition": {
                "StringNotEquals": {
                    "aws:RequestedRegion": [
{% if aws_local_regions is not defined %}
                        "eu-central-1",
                        "eu-west-3"
{% else %}
{%   for region in aws_local_regions %}
                        "{{ region }}"{% if not loop.last %},{% endif %}
{%   endfor %}
{% endif %}
                    ]
                }
            }
        }
    ]
}