export AWS_ACCESS_KEY_ID="{{ item.sts_creds.access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ item.sts_creds.secret_key }}"
export AWS_SESSION_TOKEN="{{ item.sts_creds.session_token }}"
export ROLE=admin
export ACCOUNT="{{ item.item.account_id }}"
export AWS_ACCOUNT_ID="{{ item.item.account_id }}"
export aws_account="{{ item.item.name }}"
export AWS_ACCOUNT="{{ item.item.name }}"
export AWS_EXPIRATION="{{ item.sts_creds.expiration }}"
export SSHKEY=
