#! /bin/bash

source {{ sts_cache_dir | default(accountconfig_base_dir + '/.sts_cache') }}/{{ item.item.name }}

{% if item.item.config_directory is defined %}
cd {{ accountconfig_base_dir }}/{{ item.item.config_directory }}
{% else %}
cd {{ accountconfig_base_dir }}/aws-{{ item.item.name }}-config
{% endif %}

export ANSIBLE_TAGS
export ANSIBLE_SKIPTAGS

./{{ item.item.dockerwrapper_command | default("dockerwrapper") }} {{ item.item.dockerwrapper_args | default("") }}
