<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AWS Accounts</title>
    <style>
        body {
            font-family: sans-serif;
        }
        h2 {
            border-width: 2;
            border-color: black;
            border-style: dotted;
            background-color: orange;
        }
    </style>
</head>

<body>
<script>
window.rolemapping = {{ aws_role_mapping | to_nice_json }}
window.aws_roles = {{ aws_roles | to_nice_json }}

window.users = {
  "aws_users":
{{ aws_users | to_nice_json }}
}

window.bastionAccountId = "{{ bastion_account.account_id }}"

window.accounts = {
  "subaccounts": [ {% for subaccount in subaccounts %}{ name: "{{ subaccount.name }}", account_id: "{{ subaccount.account_id | default('NOT-FOUND') }}"},{% endfor %}]
}
</script>

<script>
  let vars;
  let selectedUserName;
  let selectedRole;
  let selectedRegion;

  const crossAccountLinks = {};
  const assumeRoleList = new Set();
  const awsConfigRoleList = new Set();

  function addEntryToCrossAccountLinks(crossAccountLinks, accountId, accountName, remoteRole) {
      crossAccountLinks[accountName + ' ' + remoteRole] =
          '<a href="https://signin.aws.amazon.com/switchrole?account=' +
          accountId + '&roleName=' +
          remoteRole + '&displayName=' +
          accountName + '_' + remoteRole + '">' +
          accountName + ' ' + remoteRole + '</a><br>';
  }

  function getRemoteRoleSessionDuration(remoteRole) {
      let maxSessionDuration = 3600;
      for (const aws_role of window.aws_roles) {
          if (aws_role['name'] === remoteRole) {
              if (aws_role['max_session_duration']) {
                  maxSessionDuration = aws_role['max_session_duration'];
              } else {
                  maxSessionDuration = 3600;
              }
          }
      }
      return maxSessionDuration;
  }

  function addEntryToAssumeroleList(assumeRoleList, accountId, accountName, remoteRole, userName) {
      maxSessionDuration = getRemoteRoleSessionDuration(remoteRole);
      assumeRoleList.add(
          '&nbsp;&nbsp;&nbsp;&nbsp;"' +
          accountName + '-' + remoteRole +
          '": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_profile": "{{ organization.name }}-bastion",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_account": "' +
          accountId +
          '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_mfa_arn": "arn:aws:iam::' +
          bastionAccountId + ':mfa/' + userName +
          '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"aws_role": "' +
          remoteRole +
          '",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"max_session_duration": "' +
          maxSessionDuration + '"<br>&nbsp;&nbsp;&nbsp;&nbsp;}'
      )
  }

  function addEntryToAwsConfigroleList(awsConfigRoleList, accountId, accountName, remoteRole, userName) {
      const nameNoDots = accountName.replace(/\./g, "-")

      awsConfigRoleList.add(
          '[profile ' +
          nameNoDots + '-' +
          remoteRole +
          ']<br>source_profile = {{ organization.name }}-bastion<br>role_arn = arn:aws:iam::' +
          accountId + ':role/' + remoteRole +
          '<br>mfa_serial = arn:aws:iam::' +
          bastionAccountId + ':mfa/' + userName +
          '<br>region = ' + selectedRegion + '<br><br>'
      )
  }

  document.write('<h2>URL for the Bastion AWS Console</h2>')
  document.write('<a target="_blank" href="{{ bastion_account.console_url }}">Bastion Account Console</a><br/>')

  if ( location.href.includes('?') ) {
    vars = location.href.split('?')[1].split('&').map(str => str.split('=')).reduce(function(prev, v) {return Object.assign(prev, {[v[0]]: v[1]})}, {})
    selectedUserName = vars.user
    selectedRole = vars.role
    selectedRegion = vars.region || 'eu-central-1'

    if ( ! selectedUserName ) {
      document.write('<b>Add query parameter user=your.aws.user to the URL<b>')
      selectedUser = 'unknown'
    }
  } else {
    document.write('<b>Add query parameter user=your.aws.user to the URL<b>')
    selectedUserName = 'unknown'
  }

  const selectedUser = users.aws_users.find(
    function(user) {
      return user.name === selectedUserName
    }
  )

  if ( selectedRole === 'admin') {
      accounts.subaccounts.sort( (a, b) => a.name > b.name ).forEach(
      function (value) {
          const account = value.name
          const account_id = value.account_id
          const remoterole = selectedRole

          addEntryToCrossAccountLinks(crossAccountLinks, account_id, account, remoterole)
          addEntryToAssumeroleList(assumeRoleList, account_id, account, remoterole, selectedUserName)
          addEntryToAwsConfigroleList(awsConfigRoleList, account_id, account, remoterole, selectedUserName)
      })
  } else {
      // Add accounts for user.groups based access
      // Remove the Admin group because it's "special"
      if ( selectedUser.groups ) {
          const index = selectedUser.groups.indexOf("Admin");
          if (index > -1) {
              selectedUser.groups.splice(index, 1);
          } else {
              selectedUser.groups = [];
          }
      } else {
          selectedUser.groups = [];
      }

      const groups = selectedUser.groups
      const parsedGroups = groups.map(
          function (groupString) {
              const split = groupString.split('-')
              return {role: split[0], account: split.slice(1).join('-')}
          }
      )

      const matchingAccounts1 = accounts.subaccounts.map(
          function (account) {
              const matchingGroup = parsedGroups.find(
                  function (group) {
                      if ( account.name.indexOf(group.account) !== -1 ) {
                          return group
                      } else {
                          return null
                      }
                  }
              )
              if (!matchingGroup) return null
              return {
                  ...account,
                  role: matchingGroup.role, //?
          }
          }
      ).filter(function(account) { return !!account })

      const matchingAccounts2 = accounts.subaccounts.map(
          function (account) {
              const matchingGroup = parsedGroups.find(
                  function (group) {
                      if ( account.environment === group.account ) {
                          return group
                      } else {
                          return null
                      }
                  }
              )
              if (!matchingGroup) return null
              return {
                  ...account,
                  role: matchingGroup.role, //?
          }
          }
      ).filter(function(account) { return !!account })

      const matchingAccounts = matchingAccounts1.concat(matchingAccounts2)

      matchingAccounts.sort( (a, b) => a.name> b.name ).forEach(
          function (t) {
              addEntryToCrossAccountLinks(crossAccountLinks, t.account_id, t.name, rolemapping[t.role])
              addEntryToAssumeroleList(assumeRoleList, t.account_id, t.name, rolemapping[t.role], selectedUser.name)
              addEntryToAwsConfigroleList(awsConfigRoleList, t.account_id, t.name, rolemapping[t.role], selectedUser.name)
          }
      )
  }

  // Add accounts for user.accounts based access
  if ( selectedUser.accounts ) {
      selectedUser.accounts.forEach(
          function (account) {
              accounts.subaccounts.forEach(
                  function (subaccount) {
                      if ( subaccount.name.match(RegExp(account.name))) {
                          addEntryToCrossAccountLinks(crossAccountLinks, subaccount.account_id, subaccount.name, account.role)
                          addEntryToAssumeroleList(assumeRoleList, subaccount.account_id, subaccount.name, account.role, selectedUser.name)
                          addEntryToAwsConfigroleList(awsConfigRoleList, subaccount.account_id, subaccount.name, account.role, selectedUser.name)
                      }
                  }
              )
          }
      )
  }


  document.write('<h2>AWS Cross Account links for ' + vars.user + '</h2><ul>')
  Object.keys(crossAccountLinks).sort().forEach(
      function (t) {
          document.write('<li>' + crossAccountLinks[t] + '</li>')
      }
  )
  document.write('</ul><br>')

  document.write('<h2>aws-sts-assumerole config file for ' + vars.user + '</h2><br>')
  document.write('<code>{<br>')
{% if codeartifact_config is defined %}
  document.write('&nbsp;&nbsp;"codeartifact": [<br>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;{<br>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "{{ codeartifact_config.id }}",<br/>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"username": "{{ codeartifact_config.username }}",<br/>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"domain_owner": "{{ codeartifact_config.domain_owner }}",<br/>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"domain": "{{ codeartifact_config.domain }}",<br/>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"profile": "{{ codeartifact_config.profile }}"<br/>')
  document.write('&nbsp;&nbsp;&nbsp;&nbsp;}<br>')
  document.write('&nbsp;&nbsp;],<br>')
{% endif %}
  document.write('&nbsp;&nbsp;"assume_roles": {<br>')
  let assumeRoleArray = Array.from(assumeRoleList)
  assumeRoleArray.forEach(
      function (t, index, array) {
          if (index === array.length - 1)
              document.write(t + '<br>')
          else {
              document.write(t + ',<br>')
          }
      }
  )
  document.write('&nbsp;&nbsp;}<br>}<br></code>')

  document.write('<h2>~/.aws/credentials for ' + vars.user + '</h2><br><code>')
  document.write('[{{ organization.name }}-bastion]<br/>')
  document.write('aws_access_key_id = AKIAxxxxxxxxx<br/>')
  document.write('aws_secret_access_key = xxxxxxxxxxxxxxxx<br/>')
  document.write('<br/>')
  document.write('<h2>~/.aws/config for ' + vars.user + '</h2><br><code>')
  document.write('[default]<br/>')
  document.write('output=json<br/>')
  document.write('region=eu-central-1<br/>')
  document.write('<br/>')

  let awsConfigRoleArray = Array.from(awsConfigRoleList)
  awsConfigRoleArray.forEach(
      function (t, index, array) {
          document.write(t)
      })
  document.write('</code>')

</script>
</body>
</html>
